ul {
  list-style: none; }
  ul li {
    background-color: rgba(231, 160, 228, 0.493);
    border: 1px solid red;
    margin: 10px; }

.manga {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../img/Remp.jpg);
  background-repeat: no-repeat;
  background-size: cover; }
  .manga h1 {
    font-size: 85px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #3460BF; }
  .manga a {
    font-size: 30px;
    color: #000000;
    border: 2px solid #ff4d6b;
    border-radius: 6px;
    background-color: #ff4d6b;
    padding: 20px;
    margin-bottom: 40px;
    margin-top: 20px; }
  .manga h2 {
    color: rgba(125, 123, 218, 0.897); }

/*body{
    @if $vista == desktop {
        @media only screen and (min-width: 1024px){
            h1{font-size:$font-size2;
            color: green}
        } 
        }
        @else if $vista == mobile {
            @media only screen and (max-width: 600px){
                h1{font-size:$font-size;
                color: $color-titulos2}
            }
        }
        @else {
            h1{font-size: 300px;
            color: blueviolet;}
        }
    }*/
