*{padding: 0;
    margin: 0;
    box-sizing: border-box;}
@font-face {
    font-family: Montserrat Alternates;
    src: url(../font/Montserrat_Alternates/MontserratAlternates-MediumItalic.ttf);}
@font-face{
    font-family: Roboto Condensed;
    src:url(../font/RobotoCondensed-Regular.ttf)}

/*////////
header
////////*/
ul, li{
    list-style: none;
}       
.a-kvn{
    font-size: 5.2rem;
    font-family: Montserrat Alternates;
    color: #3460BF;
}
.titu{
    width: 100%;
    height: 86vh;
    background-image: url(../img/dbkhe3a-1386c8c1-6649-4bc0-9047-4bee981fc6b5.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.titu img{
    width: 200px;
    height: 200px;
}
.Kvn{
    display: flex;
    align-items: center;
    padding-top: 70px;
}
.delmundo{
    font-size: 2.6rem;
    text-align: center;
}
.subtitu0{
    width: 550px;
    color: #ffffff;
}
.boton0{
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    /*background-color: aliceblue;*/
    width: 9rem;
    height: 5rem;
}
.boton0:hover{
    color: #3460bf;
}
.enlace0{
    width: 9rem;
    height: 5rem;
    background-color: #3460bf;
    margin-top: 1rem;
    transition: all 0.2s 0.1s;
}
.enlace0:hover{
    transform: scale(1.09);
    color: #3460bf;
    background-color: #ffffff;
    font-size: larger;
    opacity: 0.8;
}
.boton1{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
    width: 8rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.boton1:hover{
    color: #3460BF;
}
.enlace1{
    position: absolute;
    left: 2rem;
    top: 2rem;
    width: 6rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3460BF;
    transition: all 0.2s 0.1s;
}
.enlace1:hover{
    transform: scale(1.09);
    color:#3460BF;
    font-size: larger;
    opacity: 0.8;
    background-color: #ffffff;
}
.enlace2{
    position: absolute;
    left: 9rem;
    top: 2rem;
    width: 8rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3460BF;
    transition: all 0.2s 0.1s;
}
.enlace2:hover{
    transform: scale(1.09);
    color:#3460BF;
    font-size: larger;
    opacity: 0.8;
    background-color: #ffffff;
}
.enlace3{
    position: absolute;
    left: 18rem;
    top: 2rem;
    width: 6rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3460BF;
    transition: all 0.2s 0.1s;
}
.enlace3:hover{
    transform: scale(1.09);
    color:#3460BF;
    font-size: larger;
    opacity: 0.8;
    background-color: #ffffff;
}
/*//////////
Principio
/////////*/
.parr{
    /*background-color:#ffffff;
    /*background: linear-gradient(to top, rgba(248, 248, 248, 0),rgba(255, 255, 255, 0.87),rgba(255, 255, 255, 0));
    background: linear-gradient(to bottom, rgba(248, 248, 248, 0),rgba(255, 255, 255, 0.87),rgba(255, 255, 255, 0));*/
    width: 100%;
    height: 250px;
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
}
/*p1*/
.p0-1{
    width: 250px;
    height: 250px;
    border-radius: 20px;
    background-color: #ffffffa9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.p0-1 img{
    margin-bottom: 20px;
    width: 100px;
    height: 100px;}
/*p2*/
.p0-2{
    width: 250px;
    height: 250px;
    border-radius: 30px;
    background-color: #ffffffa9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.p0-2 img{
    margin-bottom: 20px;
    width: 100px;
    height: 100px;}
/*p3*/
.p0-3{
    width: 250px;
    height: 250px;
    border-radius: 30px;
    background-color: #ffffffa9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.p0-3 img{
    margin-bottom: 20px;
    width: 100px;
    height: 100px;}
/*p4*/
.p0-4{
    width: 250px;
    height: 250px;
    background-color:#ffffffa9;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.p0-4 img{
    margin-bottom: 20px;
    width: 100px;
    height: 100px;}
/*p5*/
.p0-5{
    width: 250px;
    height: 250px;
    border-radius: 30px;
    background-color: #ffffffa9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.p0-5 img{
    margin-bottom: 20px;
    width: 100px;
    height: 100px;}
/*//////////
section 1
/////////*/
.subtitu{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
}
.img-rem{
    display: flex;
    padding-left: 0px;
    background-image: url(../img/RREm.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.subtitu2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.li01{
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 50px;
}
.l1{
    display: flex;
    align-items: center;
}
.l1 img{
    padding-top: 50px;
    padding-right:30px;
}
/*/////////
section 2
////////*/
.section2{
    padding-top: 50px;
}
.li2{
    display: flex;
    align-items: center;
}
.li02{
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 50px;
}
.li2 img{
    padding-top: 50px;
    padding-right:26px;
}
.img-rem2{
    display: flex;
    padding-right: 0px;
    background-image: url(../img/remn.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.subtitu3{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*///////
Cartas
//////*/
.section3{
    padding-top: 50px;
}
.subtitu4{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}
.grupo{
    display: flex;
    justify-content: center;
    /*background-color: aqua;*/
}
.carta1{
    border: solid 8px #3460BF;
    border-radius: 2px;
    align-items: center;
}
.cartatitu{
    text-align: center;
}
.mineral{
    margin-top: 20px;
   width: 96px;
   height: 96px;
}
/*.contenido{
    background-color: aqua;
}*/
.beneficios{
    padding: 8px;
    font-size:medium;
}
.noBenefecios{
    padding: 8px;
    font-size:medium;
    text-decoration:line-through;
    color: #8a8a8a94;
}
.boton-pay{
    font-size: 1.6rem;
    margin-bottom: 1.7rem;
    width: 90%;
    text-align: center;
    color:#3460BF;
    background-color: #ffffff;
    border-radius: 2px;
    border: solid 2px #3460BF ;
}
.boton-pay:hover{
    background-color: #3460BF;
}
.subtitu5{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
    padding-top: 30px;
}
.section3-2{
    padding-bottom: 50px;
}
/*///////
footer
//////*/
.pie{
    height: 9rem;
    width: 100%;
    background-color:#264588ee;
}
.pietitu{
    text-align: center;
    color:#264588ee ;
}
.r-social{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    height: 4.5rem;
    /*background-color: aliceblue;*/
}
.r-i{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.8rem;
    width: 5rem;
    height: 4rem;
}
.r-i img{
    height: 2rem;
    width: 2.5rem;
}
.r-i p{
    color: #ffffff;
}
.politicas{
    height: 4.5rem;
    /*background-color: aquamarine;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.e-p{
    width: 150px;
    height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
    text-decoration: none;
    color: white
}
.e-p:hover{
    color: #ffffff;
    text-decoration:underline
}
@media screen and (max-width: 320px){
    body{
        /*background-color: rgb(255, 127, 238);*/
    }
    /*header*/
    .a-kvn{
        font-size: 2.8rem;
    }
    .titu{
        width: 100%;
        height: 86vh;
        background-image: url(../img/dbkhe3a-1386c8c1-6649-4bc0-9047-4bee981fc6b5.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .titu img{
        width: 150px;
        height: 150px;
    }
    .delmundo{
        font-size: 1.9rem;
    }
    .subtitu0{
        width: 290px;
    }
    .boton0{
        font-size: 1.1rem;
        width: 7rem;
        height: 3.5rem;
    }
    .enlace0{
        width: 7rem;
        height: 3.5rem;
    }
    .boton1{
        font-size: 0.9rem;
        width: 6rem;
        height: 0.5rem;
    }
    .enlace1{
        position: absolute;
        left: 1rem;
        top: 1rem;
        width: 4rem;
        height: 2rem;
    }
    .enlace2{
        position: absolute;
        left: 6rem;
        top: 1rem;
        width: 7rem;
        height: 2rem;
    }
    .enlace3{
        position: absolute;
        left: 14rem;
        top: 1rem;
        width: 5rem;
        height: 2rem;
    }
    .parr{
        /*background-color:#ffffff;
        /*background: linear-gradient(to top, rgba(248, 248, 248, 0),rgba(255, 255, 255, 0.87),rgba(255, 255, 255, 0));
        background: linear-gradient(to bottom, rgba(248, 248, 248, 0),rgba(255, 255, 255, 0.87),rgba(255, 255, 255, 0));*/
        width: 100%;
        height: 250px;
        margin-top: 60px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        justify-items: center;
    }
    /*p1*/
    .p0-1{
        width: 100%;
        height: 100px;
        border-radius: 0px;
        font-size: 12px;
    }
    .p0-1 img{
        margin-bottom: 2px;
        width: 30px;
        height: 30px;}
    /*p2*/
    .p0-2{
        width: 100%;
        height: 100px;
        border-radius: 0px;
        font-size: 12px;
    }
    .p0-2 img{
        margin-bottom: 2px;
        width: 30px;
        height: 30px;}
    /*p3*/
    .p0-3{
        width: 100%;
        height: 100px;
        border-radius: 0px;
        font-size: 12px;
    }
    .p0-3 img{
        margin-bottom: 2px;
        width: 30px;
        height: 30px;}
    /*p4*/
    .p0-4{
        width: 100%;
        height: 100px;
        border-radius: 0px;
        font-size: 12px;
    }
    .p0-4 img{
        margin-bottom: 2px;
        width: 30px;
        height: 30px;}
    /*p5*/
    .p0-5{
        width: 100%;
        height: 100px;
        border-radius: 0px;
        font-size: 12px;
    }
    .p0-5 img{
        margin-bottom: 2px;
        width: 30px;
        height: 30px;}
    /*section 1*/
    .pitufo{
        background-color: aqua;
        }
    .subtitu{
        text-align: center;
    }
    .img-rem{
        display: flex;
        padding-left: 0px;
        background-image: none;
    }
    .subtitu2{
        display: flex;
        flex-direction: column;
        margin-right: 100px;
    }
    .subtitu2 h2, h4{
        background-color: aliceblue;
        text-align: center;
        width: 20rem;
    }
    .l1{
        width: 200%;
        flex-direction: column;
        margin-right: 38px;
        background-color: rgb(0, 136, 255);
    }
    .li01{
        font-size: 15px;
        text-align: center;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        padding-top: 0px;
        margin-top: 0%;
    }
    .l1 img{
        padding-top: 10%;
        padding-right: 20px;
    }

}