*{padding: 0;
    margin: 0;
    box-sizing: border-box;}
      @font-face {
        font-family: Montserrat Alternates;
        src: url(../font/Montserrat_Alternates/MontserratAlternates-MediumItalic.ttf);}
ul, li{
    list-style: none;
}        
h1{
    font-size: 85px;
    font-family: Montserrat Alternates;
    color: #3460BF;
    /*background-image: url(../img/56eaab911cca0c5881e9a1f1228787c8.jpg);
    background-repeat: no-repeat;
    background-size:cover;*/
    /*div*/
}
.titu{
    width: 100%;
    height: 86vh;
    background-image: url(../img/Remp.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.titu img{
    width: 200px;
    height: 200px;
}
.h{
    display: flex;
    align-items: center;
}
/*contenido*/
.parr{
    background-color: rgb(255, 255, 255);
    background: linear-gradient(to top, rgba(248, 248, 248, 0),rgba(255, 255, 255, 0.87),rgba(255, 255, 255, 0));
    background: linear-gradient(to bottom, rgba(248, 248, 248, 0),rgba(255, 255, 255, 0.87),rgba(255, 255, 255, 0));
    width: 100%;
    height: 400px;
    margin-top: 55px;
    display: flex;
    justify-content: space-evenly;
}
/*p1*/
.p0-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-family: Lato, sans-serif;
}
.p0-1 img{
    margin-bottom: 20px;
    width: 100px;
    height: 100px;}
/*p2*/
.p0-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-family: Lato, sans-serif;
}
.p0-2 img{
    margin-bottom: 20px;
    width: 100px;
    height: 100px;}
/*p3*/
.p0-3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-family: Lato, sans-serif;
}
.p0-3 img{
    margin-bottom: 20px;
    width: 100px;
    height: 100px;}
/*p4*/
.p0-4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-family: Lato, sans-serif;
}
.p0-4 img{
    margin-bottom: 20px;
    width: 100px;
    height: 100px;}
/*p5*/
.p0-5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-family: Lato, sans-serif;
}
.p0-5 img{
    margin-bottom: 20px;
    width: 100px;
    height: 100px;}
/*section 1*/
.subtitu{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
}
.img-rem{
    display: flex;
    padding-left: 0px;
    background-image: url(../img/RREm.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.subtitu2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.li1{
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 50px;
}
.ulg{
    display: flex;
    align-items: center;
}
.ulg img{
    padding-top: 50px;
    padding-right:30px;
}
/*section 2*/
.section2{
    padding-top: 50px;
}
.img-rem2{
    display: flex;
    padding-right: 0px;
    background-image: url(../img/remn.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.subtitu3{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.li2{
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 50px;
}
/*Cartas*/

.section3{
    padding-top: 50px;
}
.gris{
    background-color: rgb(155, 155, 155);
}
.subtitu4{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}
.carta1{
    margin-right: 50px;
    margin-left: 50px;
    align-items: center;
}
.cartatitu{
    text-align: center;
}
.subtitu5{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
    padding-top: 30px;
}
.section3-2{
    padding-bottom: 50px;
}
.mineral{
    margin-top: 20px;
   width: 96px;
   height: 96px;
}
.beneficios{
    display: flex;
    flex-direction: column;
}