//variables//
$color-titulos: #3460BF;
$font-size: 85px; 


ul {
    list-style: none;

    li{
        background-color: rgba(231, 160, 228, 0.493);
        border: 1px solid red;
        margin: 10px;
    }
}

.manga{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/Remp.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    h1{
        font-size: $font-size;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: $color-titulos;
    }

    a{
        font-size: 30px;
        color: #000000;
        border: 2px solid rgb(255, 77, 107);
        border-radius: 6px;
        background-color: rgb(255, 77, 107);
        padding: 20px;
        margin-bottom: 40px;
        margin-top: 20px;
    }
    h2{
        color: rgba(125, 123, 218, 0.897)
    }
}